$background-color: #fff;
$font-family: 'Roboto Slab', Calibri, Verdana, sans serif;
$font-color: #212121;
$base-font-size: 16px;

//social media brand colors
$twitter: #00aced;
$facebook: #3b5998;
$instagram: #517fa4;
$github: #000;