body{
	color: $font-color;
	font-family: $font-family;
    font-size: $base-font-size;
}

a{
    color: #363534;
    text-decoration: none;
}

h3{
    font-size: 1.75em;
}

img{
    border: 0;
    max-width: 100%;
}

.container{
	margin: 0 auto;
	width: 860px;	
}

.site-header{
    width: 220px;
    float: left;
    padding-top: 50px;
    position: fixed;
    text-align: center;    
    
    .title{
        font-size: 1.5em;
        
        &:after{
            content: "";
            display: block;
            width: 25%;        
            margin: 0 auto 20px;
            border-bottom: 1px solid #000;
            padding-bottom: 30px;
        }
    }        
}

.site-body{
    float: right;
    padding: 60px 0;
    width: 610px;    
}

.avatar{
        
    img{        
        @include border-radius(50%);
        display: block;
        margin: 0 auto 30px;
        height: 112px;
        width: 108px;
    }
}

.text-block{
    @include word-wrap();
    line-height: 1.2;
}

@media only screen and (max-width: 768px){
    
    .container
    .site-header
    .site-body{
        width: 100%;
        float: none;
    }
    
}
