<div class="container">
    <header class="site-header">
        <div class="avatar">
            <a [router-link]="['Blogs']"><img src="/src/assets/images/avatar.jpg" alt="gary" /></a>
        </div>
        <h1 class="title">Gary's Super Fun Blog</h1> 
        <div class="text-block">
            This is my blog about stuff....and things.  I will post about vegan stuff, tech stuff, and music stuff.  
            I will also post about stuff not related to the previous three items I just mentioned.
        </div>   
        <div class="links">
            <a *ng-if="isLoggedIn" (click)="logout()">log out</a>    
        </div>
    </header>
    <div class="site-body">
	   <router-outlet></router-outlet>    
    </div>		
</div>