<div class="login" *ng-if="!isLoggedIn">
    <a [router-link]="['Authorize']" class="fa fa-sign-in"></a>
</div>
<div class="container">    
    <header class="site-header">
        <div class="avatar">
            <a [router-link]="['Blogs']"><img src="/src/assets/images/avatar.jpg" alt="gary" /></a>
        </div>
        <h1 class="title">Gary's Blog of Stuff...and Things</h1> 
        <div class="text-block">
            This is my blog about stuff....and things.  I will post about vegan stuff, tech stuff, and music stuff.  
            I will also post about stuff not related to the previous three items I just mentioned.
        </div>   
        <div class="links">
            <a *ng-if="isLoggedIn" (click)="logout()">log out</a>    
        </div>
        <div class="social-icons">
            <ul>
                <li><a href="https://www.facebook.com/gary.yochum.1" class="fa fa-facebook-square" target="_blank"></a>
                <li><a href="https://twitter.com/gyochum" class="fa fa-twitter-square twitter" target="_blank"></a></li>
                <li><a href="https://www.instagram.com/garyyochum/" class="fa fa-instagram" target="_blank"></a></li>
                <li><a href="https://www.github.com/gyochum/" class="fa fa-github-square" target="_blank"></a></li>
            </ul>
        </div>
    </header>
    <div class="site-body">
	   <router-outlet></router-outlet>    
    </div>		
</div>