<a routerLink="/blog" (click)="clicked()">Just a link</a>
<article *ngFor="let post of posts">    
    <h1 class="title">
        <a href="">{{post.title}}</a> 
        <!--<a href = "" *ng-if="isLoggedIn" class="fa fa-pencil"></a>  
        <i class="fa fa-trash" *ng-if="isLoggedIn" (click)="delete(post.id)"></i> -->
        <i class="fa fa-check-circle-o green" *ngIf="post.isActive && isLoggedIn" title="active"></i>
        <i class="fa fa-times-circle-o red" *ngIf="!post.isActive && isLoggedIn" title="inactive"></i>    
    </h1>
    <p class="meta-data">
        {{post.createdDate | date: 'yMMMMd'}} - 
        <span *ngIf="post.commentCount() > 0">{{post.commentCount()}} comments</span>
        <span *ngIf="post.commentCount() == 0">no comments</span>
    </p>
    <p>{{post.body}}</p>
</article>