<a routerLink="/blog" (click)="clicked()">Add a new blog post</a>
<!--<article *ng-for="let post of posts">    
    <h1 class="title">
        <a href="">{{post.title}}</a> 
        <a href = "" *ng-if="isLoggedIn" class="fa fa-pencil"></a>  
        <i class="fa fa-trash" *ng-if="isLoggedIn" (click)="delete(post.id)"></i> 
        <i class="fa fa-check-circle-o green" *ng-if="post.isActive && isLoggedIn" title="active"></i>
        <i class="fa fa-times-circle-o red" *ng-if="!post.isActive && isLoggedIn" title="inactive"></i>    
    </h1>
    <p class="meta-data">
        {{post.createdDate | date: 'yMMMMd'}} - 
        <span *ng-if="post.commentCount() > 0">{{post.commentCount()}} comments</span>
        <span *ng-if="post.commentCount() == 0">no comments</span>
    </p>
    <p>{{post.body}}</p>
</article>-->