<section class="save-blog">
    <h1 class="title">Manage Your Blog Posts</h1>
    <form name="frmSave" (ngSubmit)="save()" novalidate>
        <input [(ngModel)]="model.isActive" name="isActive" type="checkbox" /> <span class="label">Active?</span>
        <label for="title">
            Title <span>*</span>
        </label>
        <input id="title" name="title" #title="ngModel" [class.error]="title.touched && title.invalid" [(ngModel)]="model.title" type="text" required />
        <span class="error-text" [hidden]="title.valid || title.pristine">title is required duh.</span>
        
        <label for="url">
            Url <span>*</span>
        </label>
        <input name="url" [(ngModel)]="model.url" type="text" required />
        <span>{{model.url}}</span>
        
        <label for="preview">
            Preview <span>*</span>
        </label>
        <textarea name="preview" [(ngModel)]="model.preview" rows="5" cols="45" required></textarea>
        
        <label for="body">
            Body <span>*</span>
        </label>
        <textarea name="body" [(ngModel)]="model.body" rows="10" cols="45"></textarea>
        
        <button type="submit">Save</button>
    </form>
</section>