<section>
    <h1 class="title">
        {{post.title}}     
    </h1>
    <p class="meta-data">
        {{post.createdDate | date: 'yMMMMd'}}   
        <span *ngIf="post.commentCount() > 0"><a href="#comments">{{post.commentCount()}} Comment(s)</a></span>
        <span *ngIf="post.commentCount() <= 0"><a href="#add" (click)="showCommentForm()">Leave a Comment</a></span>     
    </p>
    <p>{{post.body}}</p>
</section>
<section *ngIf="post.commentCount() > 0">
    <h3><a name="comments">Comments</a></h3>
    <ol *ngFor="let comment of post.comments | orderby: 'createdDate': 'asc'">
        <li class="comment">
            <header>
                <img src="http://placecage.com/56/56" alt="#post.name" class="avatar" />
                <span>{{comment.name}} says</span>
                <span>{{comment.createdDate | date: 'yMMMMd'}}</span>
                <i class="fa fa-trash" (click)="deleteComment(comment.id)"></i>
            </header>
            <div>{{comment.body}}</div>    
        </li>
    </ol>
</section>
<section *ngIf="comment || !post.comments">
    <h1 class="title"><a name="add">Drop a Line</a></h1>
    <form #commentForm="ngForm"  (submit)="saveComment()" novalidate>        
        <label for="name">
            Name <span>*</span>
        </label>
        <input name="name" [(ngModel)]="comment.name" #name="ngModel" placeholder="enter your name" type="text" [class.error]="name.touched && email.invalid" required />
        <span class="error-text" [hidden]="name.valid || name.pristine">your name is required duh.</span>
        <label for="email">
            Email <span>*</span>
        </label>
        <input name="email" [(ngModel)]="comment.email" [class.error]="email.touched && email.invalid" #email="ngModel" placeholder="enter your email" type="text" />
         <span class="error-text" [hidden]="email.valid || email.pristine">your comment is required duh.</span>      
        <label for="body">
            Body <span>*</span>
        </label>
        <textarea name="body" [(ngModel)]="comment.body" placeholder="enter body of post" #body="ngModel" [class.error]="body.touched && body.invalid" rows="10" cols="45"></textarea>
        <span class="error-text" [hidden]="body.valid || body.pristine">your thoughts is required duh.</span>
        <button type="submit" [disabled]="!commentForm.form.valid">Save Comment</button>
    </form>
</section>