<a routerLink="/blog/create">add a new post</a>
<article *ngFor="let post of posts">    
    <h1 class="title">
        <a [routerLink]="['/blog/detail', post.url]">{{post.title}}</a> 
        <a [routerLink] = "['/blog/edit/', post.url]" class="fa fa-pencil"></a>  
        <i class="fa fa-trash" (click)="delete(post)"></i> 
        <i class="fa fa-check-circle-o green" *ngIf="post.isActive" title="active"></i>
        <i class="fa fa-times-circle-o red" *ngIf="!post.isActive" title="inactive"></i>    
    </h1>
    <p>{{post.isActive}}</p>
    <p class="meta-data">
        {{post.createdDate | date: 'yMMMMd'}} - 
        <span *ngIf="post.commentCount() > 0">{{post.commentCount()}} comments</span>
        <span *ngIf="post.commentCount() == 0">no comments</span>
    </p>
    <p>{{post.body}}</p>
</article>